services:
  backend:
    image: node:20-alpine
    ports:
      - "3001:3001"
    volumes:
      - ./backend:/usr/src/app
    working_dir: /usr/src/app
    command: node server.js
    restart: "no"
    env_file:
      - .env
    depends_on:
      - mongo
  frontend:
    image: oven/bun:latest
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
    network_mode: host
    working_dir: /app
    command: bun dev
    environment:
      - CHOKIDAR_USEPOLLING=true
  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
