apple-pay-button {
  --apple-pay-button-width: 250px;
  --apple-pay-button-height: 45px;
  --apple-pay-button-border-radius: 3px;
  --apple-pay-button-padding: 0px 0px;
  --apple-pay-button-box-sizing: border-box;
  margin-top: 0.5rem;
  display: inline-block;
}

apple-pay-button:hover {
  cursor: pointer;
}
